.navigation {
    width: 240px;
    height: 100%;
}
@media (max-width: 767px) {
    .navigation {
        height: auto;
        width: 100%;
        border-bottom: 1px solid lightgray;
    }
}

.navigation-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-collapse.collapse {
    padding: 0;
    flex: 1;
}

.navbar-wrapper {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media (max-width: 767px) {
    .navbar-wrapper {
        display: block;
    }
}

.nav-top {
    flex: 1;
    overflow-x: hidden;
}

.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin: 0;
    float: none;
}

.navigation-header {
    width: 100%;
    display: flex;

}

.navbar-nav > li > a {
    display: flex;
    align-items: center;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 9px 15px;
    margin: 0 5px;
    border-radius: 4px;
}

.navbar-nav > li > a::before {
    margin-right: 10px;
    font-family: "Glyphicons Halflings";
}

.navbar-login {
    border-top: 1px solid lightgray;
}

.navbar-toggle {
    margin-left: 5px;
    margin-right: 0px;
}

.icon-bar {
    background-color: black;
}