@Scripts.Render("~/Scripts/Charts/Chart.js")

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
@*Vortschritts blaken*@
<div class="alert alert-info">
    Start the data generation script (Project: PopulateSensorDatas) to see the charts update. <br />
</div>
<div class="alert alert-warning">
    ⚠ INFO: Charts won't change as dramaticly with real data
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>
                    Simulation progress
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("../Charts/PowerChart")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("../Charts/CityRotationChart")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("../Charts/GeneratorsChart")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("../Charts/PumpChart")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>