@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Action Bar:</h2>
        @*Actions COPY BELOW*@
        <div class="actions-bar btn-group">
            @Html.ActionLink(" ", "Edit", new {  }, new { title = "Edit", @class = "glyphicon glyphicon-pencil btn btn-default btn-sm" }) 
            @Html.ActionLink(" ", "Details", new {  }, new { title = "Details", @class = "glyphicon glyphicon-eye-open btn btn-default btn-sm" }) 
            @Html.ActionLink(" ", "Delete", new {  }, new { title = "Delete", @class = "glyphicon glyphicon-trash btn btn-danger btn-sm" })
        </div>
        @* STOP COPYING *@
    </div>
</div>
