@Scripts.Render("~/Scripts/three.js")
@Scripts.Render("~/Scripts/orbitControls.js")
@Scripts.Render("~/Scripts/GLTFLoader.js")

<div class="city-rotation-chart-title-box city-rotation-chart-title-box-open">
    <h4 style="margin: unset;">City rotation</h4>
    <a href="/Dashboard/Open3DModel"><i class="glyphicon glyphicon-resize-full"></i></a>
</div>

<canvas id="3d-model"></canvas>

@Scripts.Render("~/Scripts/3d-model.js")





