@Scripts.Render("~/Scripts/three.js")
@Scripts.Render("~/Scripts/orbitControls.js")
@Scripts.Render("~/Scripts/GLTFLoader.js")


<h4>City rotation</h4>

<canvas id="3d-model"></canvas>

@Scripts.Render("~/Scripts/3d-model.js")





