@Scripts.Render("~/Scripts/three.js")
@Scripts.Render("~/Scripts/orbitControls.js")
@Scripts.Render("~/Scripts/GLTFLoader.js")

<style>
    h4.nomargin {
        margin-bottom: 0;
        margin-top: 0;
    }
</style>

<h4 class="nomargin">City rotation</h4>

<canvas id="3d-model"></canvas>

@Scripts.Render("~/Scripts/3d-model.js")





