<h4>Generator efficiency (in W)</h4>
<canvas id="GeneratorsChart" height="200"></canvas>

<script>
    // chart config
    var generatorConfig = {
        type: 'bar',
        data: {
            labels: [
                "Generator 1", "Generator 2", "Generator 3"
            ],
            datasets: [{
                label: "Generatoren",
                data: [],
                backgroundColor: "rgb(75, 192, 192)",
                borderWidth: 2
            }]
        },
        options: {
            responsive: true,
            legend: {
                display: false
            }
        }
    };

    $(document).ready(function () {
        // chart
        var ctx = document.getElementById('GeneratorsChart').getContext('2d');
        window.generatorChart = new Chart(ctx, generatorConfig);

        getGeneratorData()

        setInterval(function () {
            getGeneratorData()
        }, 2000)
    })

    function getGeneratorData() {
        $.ajax({
            url: '/API/Dashboard/GetCurrentGeneratorsData',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                var chartData = []
                data = JSON.parse(data)
                data.forEach(function (value) {
                    chartData.push(value.SValue)
                })
                setGeneratorData(chartData)
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function setGeneratorData(data) {
        generatorConfig.data.datasets.forEach(function (dataset) {
            dataset.data = data
        });
        window.generatorChart.update()
    }
</script>