<h4>Pump efficiency (in W)</h4>
<canvas id="PumpsChart" width="400" height="350"></canvas>

<script>
    // chart config
    var pumpConfig = {
        type: 'bar',
        data: {
            labels: [
                "Pump 1", "Pump 2", "Pump 3"
            ],
            datasets: [{
                label: "Pumps",
                data: [],
                backgroundColor: "rgb(54, 162, 235)",
                borderWidth: 2
            }]
        },
        options: {
            responsive: true,
            legend: {
                display: false
            }
        }
    };

    $(document).ready(function () {
        // chart
        var ctx = document.getElementById('PumpsChart').getContext('2d');
        window.pumpConfig = new Chart(ctx, pumpConfig);

        getPumpData()

        setInterval(function () {
            getPumpData()
        }, 2000)
    })

    function getPumpData() {
        $.ajax({
            url: '/API/Dashboard/GetCurrentPumpsData',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                var chartData = []
                data = JSON.parse(data)
                data.forEach(function (value) {
                    chartData.push(value.SValue)
                })
                setPumpData(chartData)
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function setPumpData(data) {
        pumpConfig.data.datasets.forEach(function (dataset) {
            dataset.data = data
        });
        window.pumpConfig.update()
    }
</script>