<h4>Pumps efficiency (in %)</h4>
<canvas id="PumpsChart" height="200"></canvas>

<script>
    // chart config  //node-server:  http://161.97.116.72:8080/ping
    var pumpsConfig = {
        type: 'horizontalBar',
        data: {
            labels: [
                "Pump 1", "Pump 2", "Pump 3"
            ],
            datasets: [{
                label: "Pumps",
                data: [],
                backgroundColor: ["rgba(219, 0, 40, 1)", 'rgba(4, 0, 219, 1)', 'rgba(61, 117, 0, 1)'],
                borderWidth: 2
            }]
        },
        options: {
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    ticks: {
                        min: -100,
                        max: 100,
                    }

                }]
            }
        }
    };

    $(document).ready(function () {
        // chart
        var ctx = document.getElementById('PumpsChart').getContext('2d');
        window.pumpChart = new Chart(ctx, pumpsConfig);

        getPumpData()

        setInterval(function () {
            getPumpData()
        }, 2000)
    })
    //API Call with AJAX
    function getPumpData() {
        $.ajax({
            url: '/API/Dashboard/GetCurrentPumpsData',
            dataType: 'json',
            type: 'GET',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                //var pumpData = [];
                var chartData = []
                var chartDataIndex = 0;
                data = JSON.parse(data)

                data.forEach(function (value) {

                    chartData[0] = value.Pump1;
                    chartData[1] = value.Pump2;
                    chartData[2] = value.Pump3;
                        
                    
                })
             
                setPumpData(chartData)
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    //Update Chart
    function setPumpData(data) {
        pumpsConfig.data.datasets.forEach(function (dataset) {
            dataset.data = data           
        });
        window.pumpChart.update()
    }
</script>