
@{
    ViewBag.Title = "CityRotationChart";
}

<style>
    .main {
        overflow: unset;
    }
</style>

<div id="CityRotationChartPanel" class="city-rotation-chart-full-screen">

    <div class="city-rotation-chart-title-box city-rotation-chart-title-box-close">
        <h4></h4>
        <a href="/Dashboard"><i class="glyphicon glyphicon-resize-small"></i></a>
    </div>

    @Html.Partial("~/Views/Charts/CityRotationChart.cshtml")
</div>

<script>
    $('.city-rotation-chart-title-box-open').hide()
</script>